.ignore-css{all:unset !important;}

/* https://gitter.im/pyviz/pyviz?at=5e8efb2b16f84f0461683446 */
.panel-widget-box.bk form {
    display: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 25%;
}
