name: typeguard

on:
  - push

jobs:
  typeguard:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: pip install nox
    - name: Test with nox
      run: nox -e pytest_typeguard
